{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0&appId=949937739069588&autoLogAppEvents=1" nonce="8hjbSydZ"></script>
<div class="content-section" style="">

    <!-- Author information -->
    <div class="media" ">
        <img class="d-flex mr-3 rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
        <div class="media-body">
            <h4 class="mt-0"><a href="{% url 'user_posts' object.author.username %}">{{ object.author }}</a></h4>
            <h6 class="mt-0">{{ object.author.email }}</h6>
        
            
        </div>
       
        {% if is_subscribed %}
            <a class="btn btn-outline-danger mb-4" href="{% url 'subscribe_user' object.id %}">Unsubscribe</a>
        {% else %}
            <a class="btn btn-outline-success mb-4" href="{% url 'subscribe_user' object.id %}">Subscribe</a>
        {% endif %}
        <!-- <a href="{% url 'subscribe_user' object.id %}" class="btn btn-primary">Subscribe/Unsubscribe</a> -->
    </div>
    <hr>

    <!-- Post information -->
    <div>
        <h1 class="mt-4">{{object.title}}</h1>
        <!-- 
         

         -->
        
        <p>
            Posted on {{ object.date_posted|date:"F d, Y" }}
            {% if user.is_staff or user.is_contributor %}
            <a class="btn btn-info btn-sm mt-1 mb-1 float-right" href="{% url 'post_update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1 float-right mr-2 "
                href="{% url 'post_delete' object.id %}">Delete</a>
            {% endif %}
        </p>
    </div>
    <hr>

    <!-- Preview Image -->
    <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
    <hr>

    <!-- Post Content -->
    <p class="lead">{{ object.content|linebreaks }}</p>
    {% if object.video_link %}
    
    
    {% if user.is_authenticated %}

        {{object.video_link|safe}}
    {% else %}
    // show login to watch video message
    <div class="alert alert-danger">
        <strong>You must be logged in to watch this video</strong>
    </div>
    {% endif%}
  
    {% else %}
    {% endif %}
    <hr>

    <!-- Like -->
    {% if user.is_authenticated %}
    <div class="text-center">
        <a id="like" style="cursor: pointer;" class="text-center" data-url="{% url 'like_api' object.pk %}"><i
                style="color: red" class="
                like-icon
                {% if user in object.liked.all %}
                fas fa-heart fa-3x
                {% else %}
                far fa-heart fa-3x
                {% endif %}
                " id="like-icon"></i></a>
        <h6 id="likes_count" style="color: red">{{object.liked.count}}</h6>
        
    </div>
    
    {% endif %}


    <!-- Comment Form -->
    {% if user.is_authenticated %}
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form id="task-form" >
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" id="text" name="text" rows="3" value=""></textarea>

                    <input type="hidden" name="user_id" value="{{user.id}}">
                </div>
                <!-- show form errors jinja-->
                {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for error in form.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <button class="btn btn-primary" type="submit">Comment</button>
            </form>
    
        </div>
    </div>
    {% else %}
    <a href="{% url 'login' %}" class="btn btn-success btn-lg btn-block mb-4">
        Sign In for comment and like the post.
    </a>
    {% endif %}


    <!-- Single Comments -->
    <div id="comment_ajx">
    {% for comment in post.comments.all %}
    {% if comment.approved_comment %}
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle article-img" src="{{ comment.author.profile.image.url }}" alt="">
        <div class="media-body">
            <h5 class="mt-0"><a href="{% url 'user_posts' comment.author.username %}">{{ comment.author }}</a></h5>
            {{ comment.text|linebreaks }}
            <hr>
        </div>
    </div>
    {% else %}
    <div class="alert alert-secondary" role="alert">
        No Comment has been posted.
    </div>
    {% endif %}
    {% endfor %}

</div>
    <!-- For Replay comments -->
    <!-- <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
            vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
            lacinia congue felis in faucibus.

            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

        </div>
    </div> -->

    <div class="fb-like" data-href=" {{ request.build_absolute_uri }}" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
</div>
<script >
    const iframe= document.getElementsByTagName('iframe')[0];
    iframe.style.width = '100%';
    iframe.style.height= '600px';
    
    // submi form on suubmitt ajax

</script>
<script type="text/JavaScript">
        $(document).on('submit','#task-form',function(e) {
        e.preventDefault();


        $.ajax({
            type: 'POST',
            url: "{% url 'add_comment' object.id %}",
            //get thhe data from the textarea
            data: {
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),

                'text': $('#text').val(),
                'user_id': '{{user.id}}'
            },
            
            success: function(data) {
                $('#text').val('');

                
            }
            

        });
    });


</script>
<script>
    const form = document.getElementById('task-form');
    form.addEventListener('submit',function(e){
        // add comment ti the list whe the form is submitted
        e.preventDefault();
        const text = document.getElementById('text').value;
        
        
        const data = {
            'text': text,
           
        };

        const comment = document.getElementById('comment_ajx');
        comment.innerHTML += `
        <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle article-img" src="http://127.0.0.1:8000/media/default.jpg" alt="">
        <div class="media-body">
            <h5 class="mt-0"><a href="">{{ user }}</a></h5>
            ${text}
            <hr>
        </div>
    </div>`
    
    // wait 3 seconds and then clear the textarea
    setTimeout(function(){
        form.reset();
    },3000);
 
    
    
    
    })




</script>
{% endblock content %}