{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section " style="padding-bottom: 15%;">
    <div class="media">
       
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
     
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            

        </div>
        <button type="button" class="btn btn-outline-danger btn-sm ml-auto">
            <span class="badge badge-danger " style="font-size: larger;">{{ user.subscribers.count }}</span>
            Subscribers
        </button>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
                <a href="{% url 'password_change' %}" class="btn btn-outline-danger" role="button">Change Password</a>
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit">Update</button>
        </div>
    </form>
</div>
<script>
    const body = document.querySelector('body');
    body.style.margin = '0px';
    body.style.padding = '0px';
    const py  = document.querySelector('.py-5');
    // delete py;
    py.remove()
</script>
{% endblock content %}